[submodule "sdk/rust"]
	path = sdk/rust
	url = https://github.com/veyron-core/veyron-sdk-rust.git
[submodule "sdk/cpp"]
	path = sdk/cpp
	url = https://github.com/veyron-core/veyron-sdk-cpp.git
[submodule "sdk/python"]
	path = sdk/python
	url = https://github.com/veyron-core/veyron-sdk-python.git
[submodule "wire"]
	path = wire
	url = https://github.com/veyron-core/veyron-wire.git
